<h1><%= @list.name %></h1>
<div class="card-display">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= bookmark.movie.title %></h2>
        <p><%= bookmark.comment %></p>
      </div>
    </div>
  <% end %>
</div>
<div class="btn-style">
  <p><%= link_to "Add a movie",  new_list_bookmark_path(@list), class: 'btn btn-gradient' %></p>
</div>
