

<div class="banner-container banner-change">
  <div class="banner-nav-bar d-flex justify-content-center" >
    <div><h1><i class="fa-solid fa-video"></i> <%= title %></h1></div>
    </div>
  </div>
</div>
