<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" style="width: 60px; border-radius: 10px" />
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
      <li class="nav-item active">
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:3000/lists">My Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/lists/new">New List</a>
          </li>
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://photos.smugmug.com/C/EMPRESAS/LeWagon/n-Pmb29k/20230221-Le-Wagon-WebDev-Batch-1158/i-QP7cbxF/0/4ad94bf1/X2/230221%20Le%20Wagon%20WD_76-X2.jpg" />
            </div>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
